body{
    background-color:#0A1037;
    color:#FFFFFF;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
  }
  
  div#header{
    position:relative;
    text-align:center;
    top:40px;
  }
  
  div#white{
    background-color:#ffffff;
    color:#000000;
    text-align:center; 
    max-width:50vw;
    height:175px;
    position:relative;
    margin:auto;
    top:50px;
    border-radius:50px;
    padding:20px;
  }
  
  #text-input{
    width:200px;
    position:relative;
  }
  
  #result{
    font-size:20px;
    width:100%;
    height:100%;
    margin-top:10px;
  }
  
  #check-btn {
    appearance: none;
    background-color: #8A1731;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    padding: 5px 15px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  #check-btn:hover {
    background-color: #B66073;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  #check-btn:disabled {
    background-color: #B66073;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  #check-btn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
    color:#000000;
  }
  
  #check-btn:focus {
    outline: 1px transparent;
  }
  
  #check-btn:before {
    display: none;
  }
  
  #check-btn:-webkit-details-marker {
    display: none;
  }